default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: file-contents-sorter
        files: ^tools\.yml$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [--config-file, .github/yamllint.yml]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        # MD013: line too long
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, '--']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^site/src/sites.yml$
        args: [--ignore-words-list, 'ons,linz', --check-filenames]
        stages: [pre-commit, commit-msg]

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos
        types: [text]
        args: []
        exclude: ^site/src/sites.yml|.pre-commit-config.yaml$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0-rc.2
    hooks:
      - id: eslint
        types: [file]
        args: [--fix, --config, site/eslint.config.js]
        files: \.(js|ts|svelte)$
        additional_dependencies:
          - 'typescript-eslint'
          - eslint
          - eslint-plugin-svelte
          - globals
          - svelte
          - typescript
          - '@stylistic/eslint-plugin'

  - repo: local
    hooks:
      - id: avif-screenshots
        name: Screenshots must use AVIF format
        entry: screenshot filenames must end in .avif
        language: fail
        files: '^site/static/screenshots/.*(?<!\.avif)$'

      - id: no-bracket-links
        name: 'Brackets should not be inside links [[link]](url) -> [[link](url)]'
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: 'http:'
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude_types: [javascript, ts]

      - id: format-urls
        name: Format URLs
        entry: .github/format_urls.py
        language: python
        files: ^(sites.yml|readme.md|.github/format_urls.py)$

  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno format
        entry: deno fmt
        types_or: [file]
        language: system
        args: [--config, site/deno.jsonc, --permit-no-files]
      - id: deno-lint
        name: Deno lint
        entry: deno lint
        types_or: [file]
        args: [--config, site/deno.jsonc, --permit-no-files, --fix]
        language: system
