:root {
  --bg: #061e25;
  --main-max-width: 1300px;
  color-scheme: dark;

  --github-corner-color: var(--bg);
  --github-corner-bg: white;
  --tooltip-bg: #2e2935;
}
body {
  background: var(--bg);
  padding: 5vw;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  margin: auto;
  color: #eee;
  overflow-x: hidden;
}
main {
  max-width: var(--main-max-width);
  margin: auto;
  margin-bottom: 3em;
  width: 100%;
}
a {
  color: cornflowerblue;
  text-decoration: none;
}
a:hover {
  color: orange;
}

::highlight(highlight-match) {
  color: mediumaquamarine;
  text-decoration: underline;
}
