name: Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  tests:
    uses: janosh/workflows/.github/workflows/npm-test-release.yml@main
    with:
      install-cmd: npm install --force
      working-directory: site
